// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;

$white: #FAFAFA;
$black: #1A1A1A;
$red: #D11414;
$green: #30c350;
$purple: #6A67FF;
$dark-purple: #070708;
$gray: #C5C5C5;
$light-gray: #F4F4F4;
$dark-gray: #515151;
