.search {
  padding: 0px 80px 24px 80px;
}

.map_card_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.pro-cons-title {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 24px;

  h4 {
    color: gray;
  }
  }

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-product {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px;
  background-color: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  align-items: center;

  div {
    padding: 0;
  }
}

.pro {
  border: 1px solid $green;
}

.con {
  border: 1px solid $red;
}

.fa-solid {
  font-size: 3em;
  color: $dark-gray;
  max-width: 54px;
  max-height: 85px;
  padding: 0;
  margin-left: 8px;
}


.card-product h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  color: $dark-gray;
  margin-top: 8px;
  margin-bottom: 0;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
