.search {
  padding: 0px 80px 40px 80px;
}

.map_card_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.pro-cons-title {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 24px;

  h4 {
    color: gray;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-score {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 22px;
  background-color: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  align-items: center;

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 16px;
    color: $dark-gray;
    margin-top: 8px;
    margin-bottom: 0;
  }

  div {
    padding: 0;
  }
}

.pro {
  border: 2px solid $green;
  box-shadow: 0 0 5px rgba(48,195,80,0.5);
}

.con {
  border: 2px solid $red;
}

.fa-solid {
  font-size: 3em;
  color: $dark-gray;
  max-width: 54px;
  max-height: 85px;
  padding: 0;
  margin-left: 6px;
}

.card-product {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 120px;
  background: transparent;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  align-items: center;
  margin-bottom: 9px;
  border-radius: 5px;

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    text-decoration: none;
    color: #555;
  }
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .6;
  margin-bottom: 0;
  margin-top: 8px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.card-product .card-product-infos {
  padding: 15px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
