.index {
  margin-bottom: 40px !important;
}
// .card-product img {
//   height: 100%;
//   width: 130px;
//   // object-fit: cover;
// }

.icon-wrap {
  width: 85px;
}

.heart {
  font-size: 0.8em;
  padding: 5px 15px 0px 0px;
  color: #777;
  max-width: 85px;
  max-height: 85px;
}
.heart:hover {
  color: rgb(44, 44, 44);
}
