.index {
  margin-bottom: 40px !important;
}
.card-product img {
  height: 100%;
  width: 130px;
  // object-fit: cover;
}

.icon-wrap {
  width: 85px;
}

.fa-solid {
  font-size: 3em;
  padding: 5px 5px 5px 20px;
  color: #555 !important;
  max-width: 85px;
  max-height: 85px;
}
