<div class="onboarding_form">
  <div class="image_block">
    <div>
    <div class="d-flex">
      <div class="number_circle_done">1</div>
      <h4 class="mb-5">Give us an address</h4>
    </div>
    <h4 class="mb-5">Now your preferences</h4>
    <h4>See if this place is the one!</h4>
    </div>
  </div>
</div>
