  <%= render "shared/navbar_black" %>
<div class="index">
<div class="container card-product">
  <img src="https://images.unsplash.com/photo-1527772482340-7895c3f2b3f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBhcnRtZW50LzEyODAqMTI4MHx8fHx8fDE3MDEyOTU3NzI&ixlib=rb-4.0.3&q=80&w=1080" />
  <div class="card-product-infos p4">
    <h2>Ijsbaanpad 12, 1013 DE, Amsterdam</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores, reprehenderit voluptatum eligendi illo laboriosam, fuga consectetur numquam cupiditate enim neque aliquam assumenda? Rem, ex totam! Eveniet harum cupiditate et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia deserunt laboriosam libero, voluptas, nobis sint illo obcaecati cum voluptates soluta vero earum! Voluptatibus delectus voluptas ad mollitia! Doloremque, eligendi!</p>
  </div>
  <div class="fa-solid"><i class="fa-regular fa-heart"></i></div>
</div>
<div class="container card-product">
  <img src="https://images.unsplash.com/photo-1502455887060-a914f3555391?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBhcnRtZW50LzEyODAqMTI4MHx8fHx8fDE3MDEyOTU4MTk&ixlib=rb-4.0.3&q=80&w=1080" />
  <div class="card-product-infos">
 <h2>Ijsbaanpad 12, 1013 DE, Amsterdam</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores, reprehenderit voluptatum eligendi illo laboriosam, fuga consectetur numquam cupiditate enim neque aliquam assumenda? Rem, ex totam! Eveniet harum cupiditate et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia deserunt laboriosam libero, voluptas, nobis sint illo obcaecati cum voluptates soluta vero earum! Voluptatibus delectus voluptas ad mollitia! Doloremque, eligendi!</p>
  </div>
    <div class="fa-solid"><i class="fa-regular fa-heart"></i></div>
</div>
<div class="container card-product">
  <img src="https://images.unsplash.com/photo-1484154218962-a197022b5858?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBhcnRtZW50LzEyODAqMTI4MHx8fHx8fDE3MDEyOTU4NjM&ixlib=rb-4.0.3&q=80&w=1080" />
  <div class="card-product-infos">
 <h2>Ijsbaanpad 12, 1013 DE, Amsterdam</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores, reprehenderit voluptatum eligendi illo laboriosam, fuga consectetur numquam cupiditate enim neque aliquam assumenda? Rem, ex totam! Eveniet harum cupiditate et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia deserunt laboriosam libero, voluptas, nobis sint illo obcaecati cum voluptates soluta vero earum! Voluptatibus delectus voluptas ad mollitia! Doloremque, eligendi!</p>
  </div>
    <div class="fa-solid"><i class="fa-regular fa-heart"></i></div>
</div>
<div class="container card-product">
  <img src="https://images.unsplash.com/photo-1460408037948-b89a5e837b41?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBhcnRtZW50LzEyODAqMTI4MHx8fHx8fDE3MDEyOTU5NTE&ixlib=rb-4.0.3&q=80&w=1080" />
  <div class="card-product-infos">
  <h2>Ijsbaanpad 12, 1013 DE, Amsterdam</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores, reprehenderit voluptatum eligendi illo laboriosam, fuga consectetur numquam cupiditate enim neque aliquam assumenda? Rem, ex totam! Eveniet harum cupiditate et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia deserunt laboriosam libero, voluptas, nobis sint illo obcaecati cum voluptates soluta vero earum! Voluptatibus delectus voluptas ad mollitia! Doloremque, eligendi!</p>
  </div>
    <div class="fa-solid"><i class="fa-regular fa-heart"></i></div>
</div>
<div class="container card-product">
  <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBhcnRtZW50LzEyODAqMTI4MHx8fHx8fDE3MDEyOTYwNzU&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" />
  <div class="card-product-infos">
<h2>Ijsbaanpad 12, 1013 DE, Amsterdam</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores, reprehenderit voluptatum eligendi illo laboriosam, fuga consectetur numquam cupiditate enim neque aliquam assumenda? Rem, ex totam! Eveniet harum cupiditate et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia deserunt laboriosam libero, voluptas, nobis sint illo obcaecati cum voluptates soluta vero earum! Voluptatibus delectus voluptas ad mollitia! Doloremque, eligendi!</p>
  </div>
        <div class="fa-solid"><i class="fa-regular fa-heart"></i></div>
</div>
<div class="container card-product">
  <img src="https://images.unsplash.com/photo-1470090606874-79e96ff4d3e3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBhcnRtZW50LzEyODAqMTI4MHx8fHx8fDE3MDEyOTY0MDQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" />
  <div class="card-product-infos">
 <h2>Ijsbaanpad 12, 1013 DE, Amsterdam</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores, reprehenderit voluptatum eligendi illo laboriosam, fuga consectetur numquam cupiditate enim neque aliquam assumenda? Rem, ex totam! Eveniet harum cupiditate et?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quia deserunt laboriosam libero, voluptas, nobis sint illo obcaecati cum voluptates soluta vero earum! Voluptatibus delectus voluptas ad mollitia! Doloremque, eligendi!</p>
  </div>
      <div class="fa-solid"><i class="fa-regular fa-heart"></i></div>
</div>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "Log out", destroy_user_session_path, class: "btn btn-outline-danger mt-2", data: {turbo_method: :delete} %>
</div>
<%= render "layouts/footer" %>
