<div class="search">
  <%= render "shared/navbar_home" %>
  <div class ="container mb-3">
    <div><h1>Address property:</h1></div>
    <div class="pro_cons_map_left">
...
    </div>
    <div class="pro_cons_map_cards">
...
    </div>
  </div>
</div>
