<div class="search">
  <%= render "shared/navbar_home" %>
  <div class ="container mb-3 search_container">
    <div class="pro_cons_title"><h1>Address property:</h1></div>
    <div class="map-show">
MAP WITH PROPERTY + AREA
    </div>
    <div class="pro_cons_map_cards">
...
    </div>
  </div>
</div>
