.column_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 40px;
  padding: 64px 120px 40px 120px;

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

.photo_grid_text {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  gap: 16px;
  margin-top: 32px;

  img{
    width: 100%;
    height: 144px;
    object-fit: cover;
    }
}

.photo_grid {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 40px;

  img{
    width: 100%;
    height: 168px;
    object-fit: cover;
    }
}
