.hero {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.pexels.com/photos/2856012/pexels-photo-2856012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 640px;
  text-align: center;
  color: white;
  justify-content: center;

  h1 {
    font-weight: 700;
  }

  p {
    font-size: 18px;
    font-weight: 200;
  }
}

.hero_form {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.mapboxgl-ctrl-geocoder--input {
  width: 560px;
  background-color: rgba($color: $white, $alpha: 0.3);
  border: 1px solid rgba($color: $light-gray, $alpha: 0.4);
  border-radius: 2px;
  font-size: 16px;
  padding: 4px 12px 4px 12px;
  &::placeholder {
    color: $white;
  }
}

.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.suggestions-wrapper {
  width: 560px;
  background-color: rgba($color: $white, $alpha: 0.3);
  border-radius: 2px;
  font-size: 16px;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
}

.mapboxgl-ctrl-geocoder--suggestion {
  display: flex;
  gap: 8px;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  width: auto;
  text-align: justify;
  margin: 0;
  padding: 0px 8px 0px 8px;
}

.mapboxgl-ctrl-geocoder--suggestion-address {
  width: auto;
  text-align: justify;
  margin: 0;
  padding: 0px 8px 0px 8px;
}

.input {
  color: $white;
}

.hero_form_button {
  background-color: rgba($color: $white, $alpha: 0.3);
  border: 1px solid rgba($color: $light-gray, $alpha: 0.4);
  border-radius: 2px;
  font-size: 16px;
  color: $white;
  padding: 4px 12px 4px 12px;
  margin-left: 8px;
  height: 34px;
}
