.map-show {
  font-size: 20px;
  order: 0;
  flex: 3 2 auto;
  align-self: stretch;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.mapbox-info-title {
  margin-top: 15px;
  font-size: 18px;
}

.mapboxgl-popup-content {
  border-radius: 12px;
  text-align: center;
}
