.map-show {
  // font: $headers-font;
  font-size: 20px;
  color: #0000;
  -webkit-order: 0;
  order: 0;
  -webkit-flex: 3 2 auto;
  flex: 3 2 auto;
  -webkit-align-self: stretch;
  align-self: stretch;
  border-radius: 5px;
}
