.navbar-home {
  display: flex;
  justify-content: space-between;
  padding: 48px 64px 48px 64px;
  color: white;

  h4 {
    font-weight: 400;
  }

  .link {
    color: $white;
    text-decoration: none;
  }
}
