.navbar-home {
  display: flex;
  justify-content: space-between;
  padding: 48px 64px 48px 64px;
  color: $white;

h4 {
  font-weight: 200;
}
}

.navbar-black {
  color: black !important;

  h4 {
    font-weight: 200;
  }
}

// .link-icon {
//   font-size: 0.8em !important;
//   // padding: 5px 15px 0px 0px;
//   color: red !important;
//   max-width: 10px;
//   max-height: 10px;
// }
.home-icon {
  background: url(images/icons/home.svg);
}
.user-icon {
  background: url(/app/assets/images/icons/user.svg);
}

.link {
  color: $white;
  text-decoration: none;
}

.my-auto {
  justify-content: flex-end;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
}
.my-auto:hover {
  color: black;
  font-size: 15px;
  font-weight: 200;
}
