.navbar-home {
  display: flex;
  justify-content: space-between;
  padding: 48px 64px 48px 64px;

  a {
    color: #fff;
  }
  h4 {
    font-weight: 300;
  }
}

.navbar-home.text-dark {
  a {
    color: black;
  }
}

.nav-icon {
  color: #333;
}

.link {
  color: $white;
  text-decoration: none;
}

.my-auto {
  justify-content: flex-end;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}
.my-auto:hover {
  font-size: 15px;
  font-weight: 300;
}
