.signin_form_block {
  padding: 64px;
  display: grid; /* Use grid for nested layout */
  grid-template-rows: auto auto 1fr auto;
}

.title {
  text-align: center;
  h3 {
    font-weight: 600;
  }
}

.signin_form {
  padding: 64px 120px 64px 120px;
}

.form-action {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-signin {
  background-color: $purple;
  color: $white;
  border: 0;
  width: 240px;
}

.btn-signin:hover {
  background-color: $dark-purple;
  color: $white;
  border: 0;
}

.btn-password {
  background-color: $purple;
  color: $white;
  border: 0;
}

.signup_image_block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-size: cover;
  background-position: center;
  background-image: url('https://i.pinimg.com/736x/34/7e/b0/347eb0dc8f34b93769155e6a6d1ac353.jpg');
}

.login_image_block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-size: cover;
  background-position: center;
  background-image: url('https://i.pinimg.com/736x/aa/5f/70/aa5f705be81e32a9df1d471fab36cb1f.jpg');
}

.div_links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 12px;
}

.extra_link {
  text-decoration: none;
  color: $purple;

}
