.bubble {
  color: gray;
  position: absolute;
  transform: translateX(-50%);
  bottom: 0px;
}
.range-wrapper {
  position: relative;
  margin: 0 auto 1rem;
  padding-bottom: 20px;
}

// .range-wrap {
//   position: relative;
//   margin: 0 auto 1rem;
// }
// .range {
//   width: 100%;
// }
// .bubble {
//   color: gray;
//   position: absolute;
//   transform: translateX(-50%);
// }

// body {
//   margin: 100px;
// }
