<div class="footer">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <%= link_to root_path, class: "my-auto" do %>
        <h4>MOVIN</h4>
      <% end %>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</div>
